
html, body {
  margin: 0;
  height: 100%;
}

.center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text: center;
}

.node {
    text-anchor: start;
}

.node.root {
    fill: darkblue;
}

.node.internal {
    fill: cornflowerblue;
}

.node.leaf {
    fill: lightskyblue;
}

.node circle:hover {
    stroke-width: 4;
    stroke: red;
}

.link {
    fill: none;
    stroke: black;
}