{% extends "base_template.html" %}

{% block title %} Editor {% endblock %}

{% block javascript %}
    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <!-- Color Stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
    <!-- Intro -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/6.0.0/intro.min.js"></script>
    <!-- Convenience-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/string.js/0.2.1/string.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="../static/lib/quicksettings.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.10.8/html-to-image.min.js"></script>
    <script src="https://unpkg.com/geometric@2.5.0/build/geometric.js"></script>

    <!-- Event Emitter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eventemitter3/5.0.0/index.min.js"></script>

    <!-- JQuery extensions -->
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styles/Editor.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/6.0.0/introjs.min.css">
{% endblock %}

{% block content %}
    <div class="forester-editor-loading">
        <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" style="width:50px;height:50px;margin:1em;">
        <text>Loading your project...</text>
    </div>
    <script type="module" defer>
        import Editor from "../static/editor/Editor.js";

        /**
         * Short wrapper function for loading the data from the server and starting the editor when the document
         * finished loading. The loading screen is automatically removed.
         */
        $(document).ready(async function () {
            // fetch the data from the server
            let url  = "{{ url_for('api.project', uuid=uuid, _external=True)}}"
            let data = await fetch(url).then(resp => resp.json())

            // open the editor
            await Editor.openFromData(data)

            // remove the loading screen after the editor is done loading
            console.log("Removing loading screen")
            {#document.querySelector(".forester-editor").setAttribute("visibility", "visible")#}
            document.querySelector(".forester-editor-loading").remove()
        })
    </script>

        <div id="tree"></div>

        <!-- User Interface -->
        <div id="legend">
            <div id="groups"></div>
    <!--        <button id="group-new">New group</button>-->
        </div>

        <div id="hint" open="false">
            <span class="fa fa-info"></span>
            <div class="hint-content" style="visibility: hidden">
                <span class="hint-title">Hints</span>
                <div class="hint-text">Try hovering over different elements of Editor to learn about their usage.</div>
            </div>
        </div>

        <div id="settings-button"></div>
        <div id="settings" class="forester-ui-panel"></div>
{% endblock %}