<!--
  ~ CC-0 2022. 
  ~ David Strahl, University of Potsdam
  ~ Editor: Interactive human-in-the-loop web-based visualization of machine learning trees
  -->

{% extends "base_template.html" %}

{% block title %} Project Dashboard {% endblock %}

{% block style %}
    <link rel="stylesheet" href="../static/styles/ProjectDashboard.css"></link>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascript %}
    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <!-- Helper -->
    <script src="../static/lib/sugar-custom.min.js"></script>

    <script src="../static/ProjectDashboard.js"></script>
{% endblock %}

{% block content %}

    <div class="forester-projects-dashboard dialog-closed">
        <h1>Project Dashboard</h1>
        <div class="forester-projects-text">
            <p>We have created some example projects for you so you can explore Foresters functionality. You open the
                editor by clicking on each tile. Note, that <b>examples will not be saved</b>, and you would need to
                duplicate the project to make some changes.</p>
            <p>You can create a new project by uploading either a tree from R or Matlab or by including another users
                Editor project. Do this by clicking the plus icon at the bottom of the list.</p>
            <p>Have fun creating beautiful illustrations of decision trees!</p>
        </div>
        <div class="forester-projects-listwrapper">
            <div class="forester-projects-list">
                <div class="forester-projects-button-new fa-solid fa-plus-circle fa-3x"></div>
            </div>
        </div>
    </div>

    <form id="forester-projects-new" title="New Project">
        <div class="tabs">
            <ul>
                <li><a href="#selection">Selection</a></li>
                <span class="fa-solid fa-arrow-right"></span>
                <li><a href="#options">Options</a></li>
                <span class="fa-solid fa-arrow-right"></span>
                <li><a href="#upload">Upload</a></li>
            </ul>
            <div id="selection">
                <input class="forester-projects-new-droparea" type="file" id="fileselect" accept=".json, .RData">
            </div>

            <div id="options">
                <div class="flex-column">
                    <!-- Info on the file  -->
                    <div class="inline-info" id="file-info">
                        <i class='fa-solid fa-file-circle-check'></i>
                        <span></span>
                    </div>

                    <!-- Text field for the file name-->
                    <label for="name">Project Name</label>
                    <input id="name" type="text">

                    <!-- Selector for the format -->
                    <label for="format">How was your file created?</label>
                    <select id="format"></select>

                    <!-- Info on the format (given by the server) -->
                    <div class="inline-info" id="format-info">
                        <i class='fa-solid fa-info-circle'></i>
                        <span></span>
                    </div>

                    <button id="submit" type="button">Create Project</button>
                </div>
            </div>

            <div id="upload">
                <div class="flex-column">
                    <p class="info">Your file is processed by the server...</p>
                    <span class="info-icon fa-solid fa-cog fa-spin fa-3x"></span>
                </div>
            </div>
        </div>
    </form>
{% endblock %}