<!--
  ~ CC-0 2022.
  ~ David Strahl, University of Potsdam
  ~ Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forester</title>
    <script src="https://kit.fontawesome.com/0fd1c4c2d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- solid style -->
    <i class="fa-solid fa-user"></i>

    <!-- regular style -->
    <i class="fa-regular fa-user"></i>

    <!-- light style -->
    <i class="fa-light fa-user"></i>

    <!-- duotone style -->
    <i class="fa-duotone fa-user"></i>

    <!-- all new thin style -->
    <i class="fa-thin fa-user"></i>

    <!--brand icon-->
    <i class="fa-brands fa-github-square"></i>
</body>
</html>