<!--
  ~ CC-0 2022.
  ~ David Strahl, University of Potsdam
  ~ Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forester</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
    <link rel="stylesheet" href="../static/styles/style.css"/>
</head>

<body>
    <div id="tree">
    </div>
    <div id="legend">
        <div id="groups"></div>
        <button id="group-new">New group</button>
    </div>

    <!-- packages to load -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/string.js/0.2.1/string.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>

    <!--    <script src="https://unpkg.com/@floating-ui/core@0.7.2"></script>-->
    <!--    <script src="https://unpkg.com/@floating-ui/dom@0.5.2"></script>-->

    <script type="module" src="../static/Forester.js"></script>

</body>
</html>