/*
 * CC-0 2022.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */

@import "TextView.css";
@import "Legend.css";
@import "CCircleIconView.css";
@import "Panzoom.css";
@import "Settings.css";

:root {
    --forester_background: #f6f6f6;
    --forester_background_hover: #ededed;
    --forester_highlight: darkolivegreen;
    --forester_border: 1px solid #cccccc;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.forester-ui-panel {
    background: var(--forester_background);
    border: var(--forester_border);
    border-radius: 3px;
}

.forester-ui-button {
    width: 25px;
    height: 25px;
    margin: 10px;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.forester-ui-button::before {
    line-height: 25px;
}

.forester-ui-button:hover {
    color: var(--forester_highlight);
}

#tree {
    position: relative;
    /*background: palegoldenrod;*/
}

#links {
    width: inherit;
    height: inherit;
}

.node {
    position: absolute;
    transform: translate(-50%, -50%);
}

.link {
    fill: none;
    stroke: black;
}

#hint {
    position: fixed;
    width: 25px;
    height: 25px;
    margin: 10px;
    bottom: 0%;
    left: 0%;
    background: #ddddddee;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
    font-family: Verdana;
    overflow: hidden;
}

#hint .fa-info {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    bottom: 0%;
}

#hint .hint-title {
    position: absolute;
    margin: 10px;
    line-height: 25px;
    font-weight: bold;
}

#hint .hint-text {
    position: absolute;
    top: 15%;
    margin: 10px;
    height: 75%;
    overflow: scroll;
    font-size: 12px;
    text-align: justify;
}

label {
    display: block;
    margin: 0 0 5px 5px;
}