/*
 * CC-0 2022.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */

/*@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Coiny&display=swap');*/

:root {
    --forester_background: #f6f6f6;
    --forester_background_hover: #ededed;
    --forester_border: 1px solid #cccccc;
    --forester_highlight: #83a24b;
    --forester_transition_duration: 200ms;
}

html, body {
  font-family: "Helvetica";
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.forester-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
}

.forester-header > :first-child {
  flex: 1;
}

.forester-content {
  width: 100%;
  flex: 1 1;
}

.forester-header-link {
  display: inline-block;
  margin-right: 1cm;
  text-decoration: none;
  color: inherit;
}

.forester-header-link:hover {
  transform: scale(1);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--forester_highlight);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
}

.forester-logo {
  height: 60px;
  margin-left: 1em;
  margin-right: auto;

  /* no drag and drop */
  /*user-drag: none;*/
  /*-webkit-user-drag: none;*/
  /*user-select: none;*/
  /*-moz-user-select: none;*/
  /*-webkit-user-select: none;*/
  /*-ms-user-select: none;*/
  /*pointer-events: none;*/
}
