/*
 * CC-0 2023.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */
.hint {
    width:  500px;
    height: 200px;
    position: absolute;
    left: 1em;
    bottom: 1em;

    color: #333333;
    background: #e9e9e9;
    border: 1px solid #dddddd;
    border-radius: 4px;

    padding: 0.5em 1em;

    transition: width linear 150ms, height linear 150ms
}

/*OPEN HINT*/

.hint[open="true"] {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "icon title"
    "content content";
}

.hint-icon {
    grid-area: icon;
    font-size: large;
}

.hint-title {
    grid-area: title;

    font-weight: bold;
    font-size: large;

    overflow: clip;
}

.hint-content {
    grid-area: content;
    overflow: scroll;
}

/*CLOSED HINT*/

.hint[open="false"] {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 3em 3em 0em 0em;
}

.hint[open="false"]:active {
    transform: scale(0.95);
}

.hint[open="false"] > .hint-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.hint[open="false"]:hover > .hint-icon {
    color: var(--forester_highlight)
}

.hint[open="false"] > * {
    visibility: hidden;
}

.hint[open="false"] > .hint-icon {
    visibility: visible;
}
