/*
 * CC-0 2023.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */

#hint {
    position: fixed;
    width:  25px;
    height: 25px;
    margin: 10px;
    bottom: 0%;
    left: 0%;
    background: #ddddddee;
    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
    overflow: hidden;

    transition: width linear 100ms, height linear 100ms;
}

#hint[open="true"] {
    width:  400px;
    height: 200px;
}

/*.hint-icon {*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    text-align: center;*/
/*    line-height: 25px;*/
/*}*/

/*#hint[open="false"] .hint-icon {*/
/*    top: 0%;*/
/*    left: 0%;*/
/*}*/

/*#hint[open="true"] .hint-icon {*/
/*    top: 4%;*/
/*    right: 2%;*/
/*}*/

.hint-content {
    width: 100%;
    height: 100%;

    margin: 1em;
}

#hint[open="false"] .hint-content {
    visibility: hidden;
}

#hint[open="true"] .hint-content {
    visibility: visible;
}

.hint-image {
    grid-area: image;
    background: red;
}

.hint-title {
    grid-area: header;
}

.hint-text {
    grid-area: content;
    overflow: scroll;
}