/*
 * CC-0 2022.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */
.forester-projects-dashboard {
    width: 100%;
    height: 100%;

    /* Layout for both the text column and the project dashboard */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.forester-projects-dashboard.dialog-open {
    transition: ease-in-out 300ms;
    filter: blur(10px) grayscale(1) opacity(0.5);
    pointer-events: none;
}

.forester-projects-dashboard.dialog-closed {
    transition: ease-in-out 300ms;
    filter: blur(0px) grayscale(0) opacity(1);
    pointer-events: all;
}

.forester-projects-dashboard h1 {
    text-align: center;
}

.forester-projects-text {
    /* Text column should take up 25% of page */
    margin: 0 10%;
}

.forester-projects-text p {
    /* Text in text column should be justified */
    text-align: justify-all;
    flex-shrink: 1;
}

.forester-projects-text p:last-child {
    text-align: center;
}

.forester-projects-listwrapper {
    /* Project dashboard should take up 75% of the space */
    flex: 1 0 300px;

    margin: 1em;

    overflow-x: clip;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* Overflowing items should be hidden and masked by a gradient to white */
    mask-image: linear-gradient(to bottom, black calc(100% - 1em), transparent 100%);
}

.forester-projects-list {
    width: 100%;

    /* Grid layout with automatic number of columns and fixed minimal distance between rows/columns */
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 2rem;
    justify-content: space-evenly;
}

.forester-projects-entry {
    width: 200px;
    height: 300px;

    /* Solid background tile */
    background: lightgray;
    border-radius: 4px;

    /* Column layout for each tile, image will take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* Transition for hovering over tile */
    transition: ease 150ms;

    /* So that elements can be overlayen */
    position: relative;
}

.forester-projects-entry:hover {
    /* Upon hovering, tile should be scaled by 10% */
    transform: scale(1.1)
}

.forester-projects-entry:active {
    transform: scale(1)
}

.forester-projects-entry-title {
    /* Tile title should be colored, bold and large */
    font-weight: bold;
    font-size: large;
    padding: 10px 0px 5px 10px;
}

.forester-projects-entry-info {
    /* Some additional info on the tile should be small */
    font-size: small;
    padding: 0px 0px 10px 10px;
}

.forester-projects-entry-img {
    /* The image takes up all available space in the tile */
    height: 0;
    flex: 1;
    object-fit: contain;

    border-radius: 4px 4px 0 0;
    background: #ffffffcc;
    padding: 5px;
}

.forester-projects-entry-example {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.forester-projects-entry-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: orangered;
    visibility: hidden;
    transition: ease 200ms;
}

.forester-projects-entry:hover .forester-projects-entry-delete {
    visibility: visible;
    color: orangered !important;
}

.forester-projects-button-new {
    /* New Project button should have some distance to the project list */
    width: 200px;
    height: 300px;

    border: 2px dotted var(--forester_highlight);
    border-radius: 4px;
    background: none;

    position: relative;

    text-align: center;
    line-height: 300px;

    transform: scale(1);
    transition: transform ease 200ms;

    color: var(--forester_highlight)
}

.forester-projects-button-new:hover {
    transform: scale(1.1);
}

.forester-projects-button-new:active {
    transform: scale(1);
}

#forester-projects-new {
    width: 500px;
    /*!*visibility: hidden;*!*/
    /*position: absolute;*/
    /*width: 50%;*/
    /*max-height: 80%;*/
    /*height: fit-content;*/
    /*top: 50%;*/
    /*left:50%;*/
    /*transform: translate(-50%, -50%);*/

    /*display: grid;*/
    /*grid-template-columns: repeat(2, 1fr);*/
    /*grid-auto-rows: max-content;*/
    /*grid-gap: 2rem;*/

    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;

    /*padding: 2em;*/

    /*background: var(--forester_background);*/
    /*border: var(--forester_border);*/
    /*border-radius: 4px;*/

    /*overflow: scroll;*/
}

.forester-projects-new-droparea {
    padding: 4em 4em;

    border: var(--forester_highlight) 2px dashed;
    color: var(--forester_highlight);
    border-radius: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ui-dialog-title {
    font-size: large;
}


/* New projects dialog should not have a padding */
#forester-projects-new.ui-dialog-content {
    padding: 0;
}

/* New projects dialog should not have a border around the tablist */
#forester-projects-new .ui-tabs {
    border: none;
}

#forester-projects-new .ui-tabs-nav {
    display: flex;
    background: white;
    border: none;
    padding-top: 1em;
}

#forester-projects-new .ui-tabs-nav > span {
    vertical-align: middle;
    line-height: 2.5em;
}

#forester-projects-new .ui-tabs-tab {
    flex: 1;
    margin: 0;
    border: none;
    background: white;
    /*background: white;*/
}

#forester-projects-new .ui-tabs-active > a {
    color: var(--forester_highlight);
}

#forester-projects-new .ui-tabs-anchor {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#forester-projects-new label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#fileinfo {
    margin-bottom: 1em;
}

.format-note {
    margin-top: 10px;
}

#submit {
    margin-top: 1.5em;
    align-self: center;
}

#submit:active {
    background: var(--forester_highlight)
}

#upload {
    text-align: center;
    align-items: center !important;
}

#upload .fa-check-circle {
    color: var(--forester_highlight)
}

#upload .fa-circle-xmark {
    color: orangered;
}