/*
 * CC-0 2022.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */
.forester-projects-dashboard {
    width: 100%;
    height: 100%;

    /* Layout for both the text column and the project dashboard */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.forester-projects-text {
    /* Text column should take up 25% of page */
    flex: 1;
    margin: 2em;
}

.forester-projects-text p {
    /* Text in text column should be justified */
    text-align: justify;
}

.forester-projects-listwrapper {
    /* Project dashboard should take up 75% of the space */
    flex: 3;
    margin: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.forester-projects-list {
    width: 100%;
    height: 100px;
    flex-grow: 1;

    /* Overflowing items should be hidden and masked by a gradient to white */
    overflow: scroll;
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);

    /* Grid layout with automatic number of columns and fixed minimal distance between rows/columns */
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2rem;
    justify-content: space-evenly;
}

.forester-projects-entry {
    width: 200px;
    height: 300px;

    /* Solid background tile */
    background: lightgray;
    border-radius: 4px;

    /* Column layout for each tile, image will take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* Transition for hovering over tile */
    transition: ease 150ms;

    /* So that elements can be overlayen */
    position: relative;
}

.forester-projects-entry:hover {
    /* Upon hovering, tile should be scaled by 10% */
    transform: scale(1.1)
}

.forester-projects-entry-title {
    /* Tile title should be colored, bold and large */
    font-weight: bold;
    font-size: large;
    padding: 10px 0px 5px 10px;
}

.forester-projects-entry-info {
    /* Some additional info on the tile should be small */
    font-size: small;
    padding: 0px 0px 10px 10px;
}

.forester-projects-entry-img {
    /* The image takes up all available space in the tile */
    height: 0;
    flex: 1;
    object-fit: contain;

    border-radius: 4px 4px 0 0;
    background: #ffffffcc;
    padding: 5px;
}

.forester-projects-entry-example {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.forester-projects-entry-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: orangered;
    visibility: hidden;
    transition: ease 200ms;
}

.forester-projects-entry:hover .forester-projects-entry-delete {
    visibility: visible;
    color: orangered !important;
}

.forester-projects-button-new {
    /* New Project button should have some distance to the project list */
    margin-top: 1em;
    transition: ease 50ms;
}

.forester-projects-dashboard .fa-solid:hover {
    color: var(--forester_highlight);
}

