/*
 * CC-0 2022.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */

#settings-button {
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#settings {
    position: fixed;
    right: 0%;
    top: 0%;
    width: 300px;
    height: 90%;

    visibility: hidden;
    transform: translate(100%, 0);
    transition: ease-out;
    transition-duration: 200ms;

    padding: 2em;
    margin: 10px;

    overflow-x: clip;
    overflow-y: scroll;

    font-family: Verdana;
}

#settings-save {
    position: absolute;
    margin: 10px auto;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0);
}

#settings .qs_main {
    position: relative;
    width: 100%;
    height: max-content;
}

#settings .qs_title_bar {
    cursor: none;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#settings .qs_container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: 30px;
    align-items: center;
    margin: 2px 0px;
}

#settings .qs_subheader {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.qs_label, .qs_checkbox_label {
    font-size: 0.8em;
    margin: 0px;
}

.qs_label b {
    font-weight: normal;
}
