/*
 * CC-0 2022.
 * David Strahl, University of Potsdam
 * Forester: Interactive human-in-the-loop web-based visualization of machine learning trees
 */

a[data-lightbox=group-workflow-gif] > img {
    border: 1px solid gray;
    border-radius: 8px;

    display: inline-block;
    text-align: right;
    width: 200px;
}

